<footer class="blog-footer">
    
  

    <div class="mb-2">
      <a href="https://www.instagram.com/bastelbits/">
        <i class="bi bi-instagram me-4 orange"></i>  
      </a>
      <a href="https://github.com/tanjamagkekse/bastelbits">
        <i class="bi bi-github orange"></i>
      </a>
    </div>
    <div class="mb-2">
      <p>
        <a href="#">Zurück nach oben!</a>
      </p>
    </div>
    <div class="mb-2">
      <a routerLink="/datenschutz" class="text-decoration-none text-muted">
        Datenschutz
      </a>
      <span class="ms-4">|</span>
      <a routerLink="/impressum" class="ms-4 text-decoration-none text-muted">
        Impressum
      </a>
    </div>

  </footer>