<div class="article-inside-image card">
    <c-carousel [dark]="true" [interval]="0" >
      <c-carousel-indicators></c-carousel-indicators>
      <c-carousel-inner>
        <c-carousel-item *ngFor="let image of article?.images">
          <img
            alt="{{article?.title}}"
            loading="lazy"
            [src]=image
          />
        </c-carousel-item>
      </c-carousel-inner>
      <c-carousel-control *ngIf="article && article.images && article.images.length > 1" [routerLink] caption="Previous" direction="prev"></c-carousel-control>
      <c-carousel-control *ngIf="article && article.images && article.images.length > 1" [routerLink] caption="Next" direction="next"></c-carousel-control>
    </c-carousel>
  </div>
