<div class="outer-container">
  <div class="m-5 text-center">
    <h1 class="m-3">In Arbeit</h1>
    <p>Hier kommt demnächst ein Kontaktformular hin.</p>
    <p>Da ich aktuell noch am Backend arbeite, kannst du mir aktuell nur über dein Mailprogramm eine E-Mail schicken.</p>
    <a href="mailto:bastelbits@posteo.de" type="submit" class="m-5 submit-button btn btn-primary">Schicke eine Mail</a>
  </div>
</div>
<!-- 
<form class="m-5" (ngSubmit)="sendMessage()">
  <div class="form-group mt-4 row">
    <div class="col-sm-4 column-one">
      <label for="staticBlogTitle" class="col-form-label">Du kommst von folgendem Artikel:</label>
    </div>
  <div class="col-sm-7">
      <input type="text" readonly class="reenie form-control-plaintext" id="staticBlogTitle" value="ToDo">
    </div>
  </div>

  <div class="form-group row mt-4">
    <div class="col-sm-4 column-one">
      <label class="col-form-label" for="InputName1">Dein Name</label>
    </div>
    <div class="col-sm-7">
      <input name="inputName" [(ngModel)]="messageData.name" type="text"  class="form-control reenie" id="InputName1" placeholder="Enter name">
    </div>
  </div>

  <div class="form-group row mt-4">
    <div class="col-sm-4 column-one">
      <label class="col-form-label p-0" for="InputEmail1">Deine Mail-Adresse</label>
      <small class="subtext"><br>(damit ich antworten kann)</small>
    </div>
    <div class="col-sm-7">
      <input name="inputEmail" [(ngModel)]="messageData.email" type="email" class="form-control reenie" id="InputEmail1" placeholder="Enter email">
    </div>
  </div>

  <div class="form-group row mt-4">
    <div class="col-sm-4 column-one">
      <label class="col-form-label" for="Textarea1">Deine Nachricht an mich</label>
    </div>
    <div class="col-sm-7">
      <textarea name="inputMessage" [(ngModel)]="messageData.message" class="form-control reenie" id="Textarea1" rows="3" placeholder="Enter text"></textarea>
    </div>
  </div>

  <div class="form-group row mt-4">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-7">
      <input mdbCheckbox class="form-check-input" type="checkbox" value="" id="copy"/>
      <label class="ms-2 form-check-label" for="copy">
        Send me copy
      </label>
    </div>
  </div>

  <div class="form-group row mt-4">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-7">
        <button type="submit" routerLink='/message-thanks' class="submit-button btn btn-primary">Senden</button>
    </div>
  </div>


</form>

-->