<div class="container">
    <div class="row ">
        <div class="col-md-4">
            <div class="about-images">
                <img src="assets/about-image-2.jpg" alt="Tanja streicht eine Bank">
            </div>
        </div>
        <div class="col-md-8">
            <div class="about-text">
                <h1 class=""> <strong> Schön, dass </strong></h1>
                <h1 class="text-center mb-5"> <strong> du da bist!</strong></h1>

                
                <p>Cool, dass du auf meinen Blog gefunden hast! Vielleicht bist du ja sogar jemand, den ich noch nicht persönlich kenne, was natürlich umso schöner (und auch irgendwie verrückt) ist. <strong>Willkommen!</strong> </p>

                <p>Ich bin Tanja und versuche hier mit meinem Blog aktuell zwei Dinge zu vereinen, die ich leidenschaftlich gerne mache: Zum einen möchte ich meine privaten Bastel-, Mal-, Werkel-, Gestaltungsprojekte mit euch teilen. Zum anderen bin ich aber auch nur ein Nerd und programmiere diese Webseite von Grund auf selbst (die entsprechenden technischen Infos dazu findest du unter <a href="SkillsTODO">Skills</a>). 
                </p>

                <p>Deswegen wundert euch nicht, warum manche Dinge so funktionieren wie sie funktionieren. Teilweilse habe ich hier Funktionen drin, nur um die technisch auszuprobieren (deswegen erscheinen Blog-Artikel zum Beispiel in einem Overlay - für die Nerds unter euch: auxilary Routing in Angular). Vielleicht haben die Funktionen für einen klassischen Blog manchmal wenig Relevanz, aber ich wollte sie gerne ausprobieren ;). </p>

                <p>Noch ein bisschen zu mir. Ich hab schon als Kind angefangen ständig mein Kinderzimmer umzuräumen, neu zu streichen und Laminat zu verlegen (Respekt an meine Mutter an dieser Stelle, die damals nur leicht genervt war ;)). Diese Leidenschaft hat sich bis heute nicht gelegt und so verbringe ich meine Freizeit super gerne mit der Gestaltung von Dingen. Sei es diese Webseite, ein neues Klötzchen- bzw. Holzprojekt, eine Malidee, die ich irgendwo aufgeschnappt habe, ein neues Malen-Nach-Zahlen Bild (wenn ich mal keine Lust habe mir etwas zu überlegen, sondern einfach nur zu malen), eine Einrichtungsidee, eine neue Lichtinstallation oder oder oder.</p>

                <p>Meine Freunde behaupten schon meine Wohnung würde bei jedem Besuch anders aussehen :P. Ich mochte aber auch früher schon die Bücher, wo es auf jeder Seite noch irgendetwas zu entdecken gab (kennst du die?). So finde ich, ist meine Wohnung auch. Nicht vollgestellt oder überladen, aber voller Ideen. Ihr könnt es ja in dem ein oder anderen Blog-Beitrag erahnen. Wobei es sein kann, dass sich hier meine Wohnungen der Vergangenheiten im Hintergrund etwas vermischen.</p>

                <p>Vielleicht inspiriert euch ja die ein oder andere Idee zum nachmachen. Wenn ihr Fragen habt, stellt sie mir gerne (ich hoffe, dass ich bald auch eine Kommentarfunktion bieten kann, bis dahin hält das Formularfeld unter <a href="KontaktTODO">Kontakt</a> die Stellung).</p>

                <p>Beruflich bin ich aktuell auf der Suche nach einer Stelle als Frontend-Entwicklerin. Ich habe Informatik studiert und bisher in der IT-Beratung gearbeitet. Jetzt möchte ich aber mehr wieder Hobby zum Beruf machen. Wenn du darüber mehr erfahren möchtest, findest du <a href="LebenslaufTODO">hier</a> meinen Lebenslauf und weitere Infos. Die Seite ist aktuell noch gesperrt, da sie meinen kompletten Lebenslauf mit sämtlichen Kontaktdaten enthält. Wenn du gerne Zugriff möchstest, schreib mir gerne wer du bist und warum es dich interessiert :)</p>

                <p>
                So ich glaube das war erstmal ein grober Umriss. Ich wünsche dir viel Spaß auf meiner Seite und danke, dass du echt den ganzen Text gelesen hast :d</p>
                <br>
                <p>Hab einen tollen Tag!</p>

            </div>
        </div>
    </div>
</div>
