.gray-bg {
  opacity: 0.6;
  background-color: black;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2000;
}

.article {
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  width: 70%;
  position: fixed;
  z-index: 2010;
}

.article-inside-image {
  margin: 20px auto;
}

c-carousel-item img{
  height: 90vh;
}

.article-inside-text {
  background-color: white;
  margin: 20px auto;
  overflow-y: auto;
  max-height: 95vh;
}

.button-position{
  position: fixed;
  background: lightgray;
  color: black;
  border-radius: 50px;
  font-weight: bold;
  top: 10px;
  right: 48%;
  z-index: 2020;
}

header {
  position: relative;
}

.snippet{
  font-family: "Reenie Beanie";
}