<div class="gray-bg"></div>

<div class="article">
  <!-- Closing Button -->
  <a [routerLink]="['/home', { outlets: { aux: null } }]"
    class="btn btn-light button-position">
    X
  </a>

  <!-- if type is image -->
  <div *ngIf="article?.type === 'image'" class="article-inside-image card">
    <c-carousel [dark]="true" [interval]="0" >
      <c-carousel-indicators></c-carousel-indicators>
      <c-carousel-inner>
        <!-- iterate through all images in array -->
        <c-carousel-item *ngFor="let image of article?.images">
          <img
            alt="{{article?.title}}"
            loading="lazy"
            [src]=image
          />
          <!-- <c-carousel-caption class="d-none d-md-block">
            <h3>{{article?.title}}</h3>
            <p>{{article?.snippet}}</p>
          </c-carousel-caption> -->
        </c-carousel-item>
      </c-carousel-inner>
      <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
      <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
    </c-carousel>
  </div>
    

  <!-- if type is article -->
  <div *ngIf="article?.type === 'text'" class="article-inside-text card">
    <!-- Header -->
    <header>
      <div class='text-center m-5'> 
        <h1 class="title">{{article?.title}}</h1>
        <h4 class="snippet">{{article?.snippet}}</h4>
      </div>
    </header>

    <!-- Content -->
    <div *ngIf="article?.type === 'text'" class="card-body">   
      <div class="mb-4" [innerHTML]=article?.content></div>
    </div>
  </div>
</div>
