.gray-bg {
    opacity: 0.6;
    background-color: black;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2000;
  }
  
  .article {
    left: 0px;
    right: 0px;
    top: 0px;
    margin-left: 240px;
    margin-right: 15px;
    position: fixed;
    z-index: 2010;
  }
  
  .article-inside {
    background-color: white;
    margin: 20px auto;
    overflow-y: scroll;
    max-height: 90vh;
  }
  