<div class="gray-bg"></div>


<!-- if type is image -->
<div class="article article-image" *ngIf="article?.type === 'image'" >
  <!-- Closing Button -->
  <a [routerLink]="['/home', { outlets: { aux: null } }]"
    class="btn btn-light button-position">
    X
  </a>
  <app-carousel [article]="article"></app-carousel>
</div>


  <!-- if type is text -->
<div class="article article-text" *ngIf="article?.type === 'text'" >
  
  <!-- Closing Button -->
  <a [routerLink]="['/home', { outlets: { aux: null } }]"
    class="btn btn-light button-position">
    X
  </a>

  <div class="article-inside-text card">
    <!-- Header -->
    <div class='text-center m-5'> 
      <h1 class="title">{{article?.title}}</h1>
      <h2 class="snippet">{{article?.snippet}}</h2>
    </div>

    <!-- Content -->
    <div *ngIf="article?.type === 'text'" class="card-body">   
      <div class="mb-4" [innerHTML]=article?.content></div>
    </div>

    <!-- Footer -->
    <div class="footer">
      <h3>Falls ihr es ausprobieren mögt, wünsche ich euch viel Spaß dabei!</h3>
      <p>
        bei Fragen, Kommentaren, Anmerkungen - schreibt mir sehr gerne
        <span class="link-container orange" routerLink='/contact'>hier</span>
      </p>
    </div>

  </div>
</div>
