<div class="container">
    <h1>Roadmap</h1>
    <small>Reihenfolge beliebig</small>
    <br>
    <br>

    <ul>
        <li>ChangedContentAfterInit Fehler lösen beim OverlayService</li>
        <li>Von CSS auf SCSS umsteigen</li>
        <li>Workaround finden - nach dem Filtern wird nicht mehr sortiert: Mansory-Problem</li>
        <li>Bilder im Blogartikel anklickbar und zoombar machen</li>
        <li>Angular/Material für Carousel nutzen in Article-view</li>
        <li>Pfleile im Carousel mit Farbe hinterlegen damit man sie besser sieht</li>
        <li>Kontaktformular erstellen</li>
        <li>Kommentarfunktion einfügen</li>
        <li>Beim Sprung nach oben auf der Homepage, lösen sich die Filter</li>
    </ul>
    <br>
    <br>
    <br>
    
    <h1>Änderungen an der Seite</h1>

    <p>Ich versuche hier mal größere Änderungen festzuhalten, damit vor allem ich selbst und alle die die Seite hier vorfolgen gucken können wo es sich mittlerweile lohnt hinzuklicken 😊</p>
    <h5>26.04.2024</h5>
    <ul>
        <li>Fehler gelöst: Bilder wurden nur einmalig angezeigt. Beim zweiten Öffnen des Beitrag waren keine Bilder mehr enthalten. Lösung: Hatte einen Pointer auf ein Array übergeben und dann das Array geändert. Jetzt wird in einer Array-Kopie gearbeitet 😇</li>
    </ul> 
    <br>
    
    <h5>22.04.2024</h5>
    <ul>
        <li>Webseite ist jetzt auch ohne www. erreichbar - Danke für das Feedback 😉</li>
    </ul> 
    <br>
    <h5>19.04.2024</h5>
    <ul>
        <li>Kleine Änderungen (nicht sichtbar)</li>
    </ul> 
    <br>
    
    <h5>18.04.2024</h5>
    <ul>
        <li>Backend mit node.js und Express und Anbindung an meine MariaDB erstellt.</li>
        <li>Datenformate aus der Datenbank im Backend so angepasst, dass es wieder zum Frontend passt</li>
        <li>Gemerkt, dass ich doch ein php Backend brauche, also alles in php umgeschrieben</li>
        <li>Somit sind dann demnächst auch Kontaktformular und Kommentare möglich.</li>
        <li>Skills Seite angepasst</li>
    </ul> 
    <br>
    
    <h5>16.04.2024</h5>
    <ul>
        <li>Nicht direkt sichtbare Änderung der Bildereinbindung in Blogartikel.</li>
    </ul> 
    <br>
    
    <h5>11.04.2024</h5>
    <ul>
        <li>ESLint für den Code genutzt (Leere Importe gelöscht, Links können jetzt mit Tab und Tasten geöffnet werden)</li>
    </ul> 
    <br>
    <h5>10.04.2024</h5>
    <ul>
        <li>aktive Filter auf der Hauptseite werden jetzt farblich hervorgehoben</li>
        <li>Footer Umsortierung</li>
        <li>Links werden jetzt überall einheitlich angezeigt und nicht mehr manche blau, manche anders</li>
        <li>Die Masonry-Boxen auf der Hauptseite werden größer bei Smartphones, damit weniger weiße Fläche rechts und links ist.</li>
        <li>Bilder der About-Seite angepasst, sodass nur noch eines erscheint, falls der Bildschirm klein ist.</li>
    </ul>
    
    <br>
    <h5>07.04.2024</h5>
    <ul>
        <li>Kleinere Änderungen</li>
        <li>Footer angepasst sodass er auf jeder Seite angezeigt wird</li>
        <li>Suchfunktion hinzugefügt</li>
    </ul>
    
    <br>
    <h5>02.04.2024</h5>
    <ul>
        <li>Kontaktformular erstellt (optisch) und auch für kleine Screens angepasst. (Und wieder rausgenommen, weil mir das Backend noch zum Mailversand fehlt.)</li>
        <li>Impressum und Datenschutz erstellt</li>
        <li>Footer angepasst und Instagram und Github verlinkt</li>
        <li>Instagram Account erstellt und Bilder dafür bearbeitet</li>
    </ul>
    
    <br>
    <h5>01.04.2024</h5>
    <ul>
        <li>Die Demo-Schrift durch eine Vollversion ersetzt.</li>
        <li>Umzug von Github-Pages auf eigenen Server, um eine eigene Datenbank etc. nutzen zu können.</li>
    </ul>

    <br>
    <h5>28.03.2024</h5>
    <ul>
        <li>Ich habe eine Tools Seite hinzugefügt</li>
    </ul>
    
    <br>
    <h5>27.03.2024</h5>
    <ul>
        <li>Test-Bereinigung</li>
        <li>Ein Eintrag kann jetzt mehrere Kategorien haben, also Holz und Malen z.B.</li>
        <li>Die Artikel sind jetzt ordentlicher angeordnet (Bilder bündig mit dem Text etc.)</li>
    </ul>
    
    <br>
    <h5>26.03.2024</h5>
    <ul>
        <li>Die Bilder aus den Blog-Artikeln werden jetzt dynamisch aus der json geladen und sind nicht mehr hard gecoded</li>
    </ul>
    
    <br>
    <h5>22.03.2024</h5>
    <ul>
        <li>Kacheln auf der Home-Seite zentral angeordnet</li>
        <li>Filter auf der Home-Seite mit Icons ergänzt, die nur bei kleinem Bildschirm gezeigt werden</li>
        <li>Das Menü schließt sich wenn auf eine andere Seite navigiert wird</li>
    </ul>

    <br>
    <h5>21.03.2024</h5>
    <ul>
        <li>Wenn ein Artikel geöffnet ist, ist der Hintergrund nicht mehr scrollbar und die Header-Leiste verkleinert sich</li>
        <li>Angular Icon durch vorläufiges eigenes ersetzt</li>
    </ul>
    
    <br>
    <h5>20.03.2024 - Bug fixing 😊</h5>
    <ul>
        <li>Pfeile aus dem Carousel rausgenommen, wenn es nur ein Bild zum Anzeigen gibt</li>
        <li>Die maximale Bildgröße im Overlay angepasst, sodass die Bilder nicht mehr das Sichfeld überlappen</li>
        <li>Sichergestellt, dass die Karten mit den Artikeln auf der Homepage die Buttons über dem Footer nicht mehr überlagern</li>
        <li>Die Schriftgrößen in der Artikelansicht dynamisch gestaltet, sodass sie auf kleineren Bildschirmen kleiner werden</li>
    </ul>

    <br>
    <h5>18.03.2024</h5>
    <ul>
        <li>Das Menü zumindest Mobile-fähig angepasst.</li>
    </ul>

    <br>
    <h5>15.03.2024</h5>
    <ul>
        <li>Domain www.bastelbits.de auf Github-Pages umgeleitet (DNS)</li>
    </ul>
    
    <br>
    <h5>14.03.2024</h5>
    <ul>
        <li>Den Filter-Buttons im Header auf der Homepage Funktion eingehaucht</li>
    </ul>

    <br>
    <h5>13.03.2024</h5>
    <ul>
        <li>Blog Beitrag zu den Korkdeckeln erstellt und formatiert</li>
    </ul>

    <br>
    <h5>12.03.2024</h5>
    <ul>
        <li>Die Bilder der About-Seite hinzugefügt und den Text formatiert und ausgerichtet</li>
        <li>Diese Seite hier ein bisschen formatiert</li>
        <li>Fonts ausprobiert und das Logo entworfen mittels css</li>
        <li>Die Einbindung der Blogbeiträge über eine externe HTML ermöglicht (bisher musste ich alles von Hand ohne Absätze in die JSON hardcoden)</li>
        <li>Die Artikel-Seite allgemein formatiert</li>
        <li>Der Header auf der Homepage wird schmaler beim scrollen</li>
        <li>Man kann jetzt auf der Homepage die ganze Karte anklicken, um auf den Content zu gelangen. Der Button fällt somit weg. Gleichzeitig gibts einen Zoom-Effekt beim Mouse-Over.</li>
    </ul>

    <br>

    <h5>11.03.2024</h5>
    <ul>
        <li>Diese Seite hier hinzugefügt, sie in das routing eingebunden, und sie in die Sidebar-Navigation eingebaut</li>
        <li>Den Banner auf der Homepage mit dem Hinweis auf "Die Seite ist im Aufbau" durch eine Karte am Anfang der Blog-Artikel-Auflistung ersetzt</li>
        <li>Das Aussehen der Blog-Artikel (Header, dynamische Bildeinbindung aus der json-Datei) angepasst</li>
    </ul>
</div>

