<div class="m-5 p-5">
    <h1>letzte Änderungen an der Seite</h1>

    <br>

    <p>Ich versuche hier mal größere Änderungen festzuhalten, damit vor allem ich selbst und alle die die Seite hier vorfolgen gucken können wo es sich mittlerweile lohnt hinzuklicken 😊</p>

    <br>
    <h5>12.03.2024</h5>
    <ul>
        <li>Die Bilder der About-Seite hinzugefügt und den Text formatiert und ausgerichtet</li>
        <li>Diese Seite hier ein bisschen formatiert</li>
        <li>Fonts ausprobiert und das Logo entworfen mittels css</li>
        <li>Die Einbindung der Blogbeiträge über eine externe HTML ermöglicht (bisher musste ich alles von Hand ohne Absätze in die JSON hardcoden)</li>
        <li>Die Artikel-Seite allgemein formatiert</li>
        <li>Der Header auf der Homepage wird schmaler beim scrollen</li>
        <li>Man kann jetzt auf der Homepage die ganze Karte anklicken, um auf den Content zu gelangen. Der Button fällt somit weg. Gleichzeitig gibts einen Zoom-Effekt beim Mouse-Over.</li>
    </ul>

    <br>

    <h5>11.03.2024</h5>
    <ul>
        <li>Diese Seite hier hinzugefügt, sie in das routing eingebunden, und sie in die Sidebar-Navigation eingebaut</li>
        <li>Den Banner auf der Homepage mit dem Hinweis auf "Die Seite ist im Aufbau" durch eine Karte am Anfang der Blog-Artikel-Auflistung ersetzt</li>
        <li>Das Aussehen der Blog-Artikel (Header, dynamische Bildeinbindung aus der json-Datei) angepasst</li>
    </ul>
</div>

