/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');

/* TODO */
@font-face {
  font-family: 'the-seasons';
  src: url(assets/font/Fontspring-DEMO-theseasons-reg.otf) format("opentype");
}

h1, h2, h3, h4, h5, h6, .font {
    font-family: the-seasons, Arial, Helvetica, sans-serif;
    text-decoration: none;
  }
  
.reenie {
  font-family: "Reenie Beanie";
}

.orange {
  color: rgb(218, 149, 0);
}