/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

@font-face {
  font-family: 'the-seasons';
  src: url(assets/font/TheSeasons/webFonts/TheSeasonsRegular/font.woff2) format('woff2'),
       url(assets/font/TheSeasons/webFonts/TheSeasonsRegular/font.woff) format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Reenie Beanie';
  src: url(assets/font/ReenieBeanie/ReenieBeanie-Regular.ttf) format('truetype');

  font-weight: 300;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6, .font {
    font-family: the-seasons, Arial, Helvetica, sans-serif;
    text-decoration: none;
  }

.seasons {
  font-family: "the-seasons";
}
  
.reenie {
  font-family: "Reenie Beanie";
}

.orange {
  color: rgb(218, 149, 0);
}

html,body {
  height:100%
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.image-shadow{
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.404)
}

a{
  color: rgb(218, 149, 0);
}