
<header [ngClass]="{'blog-header-scrolled': isScrolled || isOverlayOpen }" class="blog-header">
  <nav class="d-flex justify-content-between">
    <ng-container *ngFor="let item of navigationItems">
      <a class="font text-dark" (click)="getFilteredArticles(item.filter)">
        <ng-container *ngIf="isSmallScreen$ | async; else showText">
          <i class="bi" [ngClass]="item.iconClass"></i>
        </ng-container>
        <ng-template #showText>{{ item.text }}</ng-template>
      </a>
    </ng-container>
  </nav>
  <hr>
</header>

<ngx-masonry [options]="masonryOptions" [ordered]="true" class="masonry-box">
  <div ngxMasonryItem class="masonry-item" >
    <div class="card">
      <div class="card-body construction-hint">
        <h5 class="card-title">Die Seite befindet sich gerade im Aufbau</h5>
        <p class="card-text">Deswegen guck' gerne immer mal wieder rein. Hier tut sich fast täglich was 😊</p>
        <p class="card-text">
          <small class="text-muted"><a href="https://github.com/tanjamagkekse/my_website" class="text-dark">Mehr Infos bei Github... </a></small>
        </p>
      </div>
    </div>
  </div>

  <div ngxMasonryItem class="masonry-item"  *ngFor="let article of filteredArticles">
    <div class="card hover" [routerLink]="['/home', { outlets: { aux: ['article-view', article.articleId]}}]" >
      <img class="card-img-top" src={{article.thumbnailImageUrl}} alt={{article.title}}>
      <div class="card-body pt-0">
        <strong class="topic-text orange">{{article.topic[0]}}</strong>
        <h5 class="card-title">{{article.title}}</h5>
        <p class="card-text">{{article.snippet}}</p>
        <p class="card-text text-end smaller text-muted">gewerkelt am {{article.creationDate}}</p>
      </div>
    </div>
  </div>
</ngx-masonry>

<nav class="m-4 text-center">
  <a class="btn btn-light" href="#">Older</a>
  <a class="btn btn-light disabled" href="#">Newer</a>
</nav>
    
<footer class="blog-footer">
  <p>Some Text</p>
  <p>
    <a href="#">Back to top</a>
  </p>
</footer>