  
  h1, h2, h3, h4, h5, h6, .font {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    text-decoration: none;
  }



  .blog-header{
    position: sticky;
    top: 0; /* Platziert den Header am oberen Bildschirmrand */
    z-index: 1000; /* Stellt sicher, dass der Header über anderen Inhalten liegt */
    width: 100%;
    padding-right: 40px;
    padding-left: 40px;
    background-color: white;
  }

  .masonry-box{
    margin-left: 20px;

  }

  .masonry-item{
    width: 250px;
    margin-bottom: 15px;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .15);
  }

  
  /* Pagination */
  .blog-pagination {
    margin-bottom: 4rem;
  }
  .blog-pagination > .btn {
    border-radius: 2rem;
  }
  
  /*
   * Footer
   */
  .blog-footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
  }
  .blog-footer p:last-child {
    margin-bottom: 0;
  }