
.blog-header {
  position: fixed;
  top: 100px;
  z-index: 1000;
  width: 100%;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 15px;
  padding-bottom: 5px;
  font-size: 16px;
  background-color: white;
  transition: padding 0.3s; 
}

.blog-header a{
  cursor: pointer;
}

.blog-header a.selected{
  color: rgb(218, 149, 0) !important;
}

.blog-header hr{
  margin: 10px 0;
}

.blog-header-scrolled {
  padding-top: 5px;
  padding-bottom: 0px;
  font-size: 14px;
  top: 60px;
}

.blog-header-scrolled hr{
  margin: 2px 0 0px 0;
}

.blog-header input{
  width:100px;
}

.construction-hint{
  background-color: blanchedalmond;
}

.card.hover {
  transition: transform 0.2s;
}

.card.hover:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.topic-text{
  font-family: Reenie Beanie;
  font-size: 25px;
  margin-top: -25px;
  margin-bottom: 20px;
  transform: rotate(14deg);
  text-align: end;
  display: block;
}

.masonry-box{
  margin: auto;
  margin-top: 60px;
}

.masonry-item{
  width: 240px;
  margin-bottom: 20px;
  margin-right: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.404)
}

@media only screen and (max-width: 526px) {
  .masonry-item{
    width: 80vw;
  }
}

.smaller{
  font-size: 10pt;
}
